body, html {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Vollkorn', serif;
}

input {
	border: 0;
	border-bottom:1px solid #ccc;
	width: 100%;
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 1px #ccc;
}

h1, h2, h3:not(:empty) {
	text-align: center;
	padding: 8px 0;
	margin: 0;
	background-color: rgba(255,255,255,.7);
	font-weight: normal;
}

h2 span:not(.stammform) {
	color: #777;
	font-size: 0.8em;
}

strong.stammform {
	color: #9B9BF6;
	font-weight: normal;
}

table {
	border: 0;
	margin: auto;
	font-size: 1.17em;
}

table .text_kategorie {
	text-align: center;
	display: block;
	font-size: 2em;
	border-bottom:1px solid #ccc;
	margin-bottom: 15px;
}

form { background: #fff }

tr, td { border:0; }

#content {
	background: #fff;
	background-size: contain;
	background-position-x: 50%;
	background-position-y: 51px;
	background-repeat: no-repeat;
}

.tenses > table {
	display: none;
}

.tenses > :first-child {
	display: table;
}