nav {
	border-right: 1px solid #222;
	background: #292929;
}
nav a {
	display: block;
	padding: 10px 20px;
	/*border-bottom: 1px solid #222;*/
	text-decoration: none;
	color: #fff;
	font-weight: normal;
}

nav li:not(:last-child) {
	border-bottom: solid 1px #212121;
}
nav li:not(:first-child) {
	border-top: solid 1px #343434;
}

nav a:active, nav a:hover {
	background: #111;
}

nav ul { margin: 0; padding:0; }
nav ul li { list-style: none }